@import "../../../styles/index.scss";

.day-items {
  display: flex;
  align-items: center;
  border: solid 1px get-color("border");
  border-radius: get-border-radius("xl");
  box-sizing: border-box;
  flex-direction: column;
  gap: get-spacing("m");
  margin: get-spacing("xl");
  padding: get-spacing("m");
  width: auto;

  &:last-of-type {
    margin-bottom: calc(get-spacing("m") * 10);
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-gap: get-spacing("m");
    grid-template-columns: auto 1fr;
    text-align: center;

    &:last-of-type {
      margin-bottom: get-spacing("xl");
    }
  }

  &__date {
    display: flex;
    align-items: center;
    color: get-color("secondary");
    flex-direction: column;
    justify-content: center;
    margin: get-spacing("m");

    @media screen and (min-width: 768px) {
      margin: get-spacing("xl");
    }
  }

  &__month {
    margin: get-spacing("xs") 0;
  }

  &__day {
    margin: 0;
  }

  &__events {
    &-container {
      text-align: center;
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    gap: get-spacing("m");

    @media screen and (min-width: 768px) {
      display: grid;
      grid-gap: get-spacing("m");
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      padding: get-spacing("m");
    }
  }
}
