@import "../../../styles/index.scss";

.empty-state {
  border: solid 1px get-color("border");
  border-radius: get-border-radius("xl");
  box-sizing: border-box;
  color: rgb(124, 125, 126);
  margin: get-spacing("xl");
  padding: get-spacing("xl");
  text-align: center;
}
