@import "../../../styles/index.scss";

.event-item {
  display: flex;
  background-color: get-color("primary");
  border-radius: get-border-radius("l");
  box-sizing: border-box;
  margin: 0 get-spacing("l");
  overflow-x: auto;

  &__info {
    flex-grow: 1;
    padding: get-spacing("xl");
  }

  &__time {
    font-size: get-font-size("s");
    padding: get-spacing("s");
  }
}
